
<div class="row">
	<div class="col-xs-offset-1 col-xs-4">
		<h2 class="cof-text">Welcome to Coffee Date, the social network for highly caffeinated loners.</h2>
		<form action="/session" method="POST">
		  <input type="hidden" name="authenticity_token" 
		    value="<%= form_authenticity_token %>">
		  <input type="hidden" name="user[email]" value="guest@guest.com">
		  <input type="hidden" name="user[password]" value="password">
		  <br>
		  <input type="submit" class="btn coffeend-btn" value="Login as Guest">
		</form>
	</div>
	<div class="col-xs-offset-1 col-xs-3">
		<form action="/users" method="post" class="cof-text">
			<div class="form-group">
				<input
					type="hidden"
					name="authenticity_token"
					value="<%=form_authenticity_token%>"
					class="form-control"
					>
				<input type="email" class="form-control" name="user[email]" id="user_email" placeholder="Email">
				<br>
				<input
					class="form-control"
					type="password"
					name="user[password]"
					placeholder="Password (min: 6 characters)"
				>
				<br>
				<input class="form-control" type="text" name="user[first_name]" placeholder="First Name">
				<br>
				<input class="form-control" type="text" name="user[last_name]" placeholder="Last Name">
				<br>
				<%[*flash[:errors]].each do |error|%>
					<p style="color: #7A0000;"><%=error%></p>
				<%end%>
				<input  type="submit" class="btn coffeend-btn form-control" value="Sign up">
			</div>
		</form>
	</div>
</div>