<%
  var start = new Date(Date.parse(hangout.get('start')));
  var end = new Date(Date.parse(hangout.get('end')));
  var end_time = end.toLocaleTimeString();
  var start_time = start.toLocaleTimeString();
  var current_time = new Date();
  start_time = start_time.slice(0, start_time.length - 6);
  end_time = end_time.slice(0, end_time.length - 6);

%>
	<div class="row">
    <div class="col-xs-offset-1 col-xs-10 cof-hangout-show-bottom">
      <div class="col-xs-4">
        <h2 class="coffeend-heading"> When: </h2><span style="margin-left: 20px" class="cof-text"><%= start_time%> to <%= end_time%></span>
        <h2 class="coffeend-heading"> Where: </h2><span style="margin-left: 20px" class="cof-text"><%= hangout.get('location_name') %>
      </div>
      <div class="col-xs-4">
        <h2 class="coffeend-heading"> Who: </h2> </span>
        <h2 class="coffeend-heading"> What: </h2> 
      </div>	
    </div>
	</div> 

