<h3>New Coffee Date</h3>
<form action="api/hangouts/" method="post">
	<label for="hangout_location_name">Location:</label>
	<input type="text" name="hangout[location_name]" id="hangout_location_name">
	<br>
	<label for="hangout_start">Start time:</label>
	<input type="datetime" name="hangout[start]" id="hangout_start">
	<label for="hangout_end">End time:</label>
	<input type="datetime" name="hangout[start]" id="hangout_start">
	<input type="button" id="submit" value="Create Coffee Date">
</form>