<h3>New Coffee Date</h3>
<form action="api/hangouts/" method="post">
	<label for="hangout_location_name">Location:</label>
	<input type="text" name="hangout[location_name]" id="hangout_location_name">
	<label for="hangout_start">Start time:</label>
  <div id="dtpick1" class="input-append">
  	<input
			data-format="dd/MM/yyyy HH:mm:ss PP"
		 	type="text"
		 	name="hangout[start]"
			id="hangout_start"
		 >
		</input>
  	<span class="add-on">
     <i data-time-icon="icon-time" data-date-icon="icon-calendar">
     </i>
  	</span>
  </div>
	<label for="hangout_duration">Duration:</label>
	<input type="number" id="hangout_duration" name="hangout[duration]" min="1" max="8">
	<input type="hidden" id="hangout_lat" value="nil" name="hangout[lat]">
	<input type="hidden" id="hangout_lng" value="nil" name="hangout[lng]">
	<input class="btn btn-primary" style="background: brown" type="submit" id="submit" value="Create Coffee Date">
</form>

  <script type="text/javascript">
    $(function() {
      $('#dtpick1').datetimepicker({
        language: 'en',
        pick12HourFormat: true
      });
      $('#dtpick2').datetimepicker({
        language: 'en',
        pick12HourFormat: true,
        pickDate: false
      });
    });
  </script>
</div>
