<h3>New Coffee Date</h3>
<form action="api/hangouts/" method="post">
	<label for="hangout_location_name">Location:</label>
	<input type="text" name="hangout[location_name]" id="hangout_location_name">
	<br>
	<label for="hangout_start">Start time:</label>
  <div class="input-append date dtpick">
  	<input
			data-format="dd/MM/yyyy hh:mm:ss"
		 	type="text"
		 	name="hangout[start]"
			id="hangout_start"
		 >
		</input>
  	<span class="add-on">
     <i data-time-icon="icon-time" data-date-icon="icon-calendar">
     </i>
  	</span>
  </div>
	<label for="hangout_end">End time:</label>
	<div class="input-append date dtpick">
		<input
			data-format="dd/MM/yyyy hh:mm:ss"
			type="text"
			name="hangout[end]"
			id="hangout_end">
		</input>
	  <span class="add-on">
	    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
	    </i>
	  </span>
	</div>
	<input type="button" id="submit" value="Create Coffee Date">
</form>

<script type="text/javascript">
  $(function() {
    $('.dtpick').datetimepicker({
      language: 'en',
      pick12HourFormat: true
    });
  });
</script>