/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "bootstrap-editable.css.scss";
@import "bootstrap-datetimepicker";

body {
  overflow-y: scroll;
}

.coffeend-heading {
	font-family: SketchRockwell;
  margin-top: 0px;
	color: #8A2E00;
}

.hangout-block {
  margin-bottom: 20px;
}

.prof-medium {
  border-radius: 5px;
}

.btn-coffeend {
	color: #8A2E00
}

.coffeend-btn {
	background-color: #663300;
	color: #e95600;
  font-family: 'Esteban', sans-serif;
  font-style: bold;
}

.coffeend-btn:hover {
	background-color: #663300;
	color: #f58b60;
}

a.editable-click {
	color: #3D1F00;
}

.cof-text {
  text-shadow: 1px 1px 5px #a97c31;
  -webkit-font-smoothing: antialiased;
	color: #3D1F00;
  font-weight: 900;
  font-family: 'Esteban', sans-serif;
	display: inline;
}

.cof-hangout-show-bottom {
  margin-top: 20px;
  border-radius: 20px;
  padding-bottom: 20px;
}


a.editable-click:hover {

}
