// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.coffeend-background {
	background-image: url('coffe_chocolate_texture1513.jpg');
	background-size: 120%;
}

.coffeend-map {
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 5px;
	border-color: #663300;
}

.coffeend-nav {
	color: orange;
	background-color: #663300;
}