<div class="row">
  <div class="col-xs-10 col-xs-offset-1 cof-hangout-show-bottom">
    <div class="col-xs-11">
      <div style="text-align: center">
        <h1 class="header cof-text">
          Getting coffee?
        </h1>
      </div>
      <br>
      <div style="text-align: center">
        <h2 class="cof-text">
          Life is lonely when you're all alone. Tell everyone or just tell some
          people. Its up to you. But tell someone, because no one likes to drink
          coffee by themselves.
        </h2>
      </div>
    </div>
  </div>
</div>
